In [1]:
import pandas as pd
df = pd.read_csv("histogram_data.csv")

df.head()

,hour,total_injured,total_killed,pedestrians_injured,pedestrians_killed,cyclists_injured,cyclists_killed,motorists_injured,motorists_killed
0,0,86,2,12,0,14,0,60,2
1,1,77,1,10,1,6,0,61,0
2,10,139,1,36,0,13,0,90,1
3,11,143,0,38,0,18,0,87,0
4,12,195,0,50,0,14,0,131,0

In [5]:
data = df.groupby("hour").sum()

In [8]:
data.to_csv("new.csv")