In [29]:
import pandas as pd

In [40]:
data = pd.read_csv('data/pres.csv', header=None).drop("0", 1)

ValueError: labels ['0'] not contained in axis

In [41]:
data

     0            1    2
1    2        Adams   48
2    3    Jefferson   96
3    4      Madison   96
4    5       Monroe   96
5    6        Adams   48
6    7      Jackson   96
7    8    Van Buren   48
8    9     Harrison    1
9   10        Tyler   47
10  11         Polk   48
11  12       Taylor   16
12  13      Filmore   32
13  14       Pierce   48
14  15     Buchanan   48
15  16      Lincoln   49
16  17      Johnson   47
17  18        Grant   96
18  19        Hayes   48
19  20     Garfield    7
20  21       Arthur   41
21  22    Cleveland   48
22  23     Harrison   48
23  24    Cleveland   48
24  25     McKinley   54
25  26    Roosevelt   90
26  27         Taft   48
27  28       Wilson   96
28  29      Harding   29
29  30     Coolidge   67
30  31       Hoover   48
31  32    Roosevelt  146
32  33       Truman   92
33  34   Eisenhower   96
34  35      Kennedy   34
35  36      Johnson   62
36  37        Nixon   67
37  38         Ford   29
38  39       Carter   48
39  40       Reagan   96
40  41         Bush   48
41  42      Clinton   96
42  43         Bush   96

In [51]:
for x in range(25):
    y = x*x / 2
    z = int(y + 0.5)
    s = str(x) + ", " + str(z)
    print(s)

TypeError: unsupported operand type(s) for +: 'int' and 'str'