In [1]:
import pandas as pd
df = pd.read_csv("NYPD_Motor_Vehicle_Collisions.csv", dtype={'ZIP CODE': str})
df.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,04/03/2018,0:00,MANHATTAN,10018,40.756490,-73.997765,"(40.75649, -73.997765)",WEST 37 STREET,10 AVENUE,NaN,...,NaN,NaN,NaN,NaN,3875635,VN,NaN,NaN,NaN,NaN
1,04/03/2018,0:00,MANHATTAN,10027,40.814580,-73.947950,"(40.81458, -73.94795)",8 AVENUE,WEST 132 STREET,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,3874492,TAXI,PASSENGER VEHICLE,NaN,NaN,NaN
2,04/03/2018,0:00,STATEN ISLAND,10312,40.564040,-74.187280,"(40.56404, -74.18728)",ILYSSA WAY,ARTHUR KILL ROAD,NaN,...,NaN,NaN,NaN,NaN,3875216,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
3,04/03/2018,0:00,NaN,NaN,40.562866,-74.187100,"(40.562866, -74.1871)",FEATHERBED LANE,MACOMBS ROAD,NaN,...,Unspecified,NaN,NaN,NaN,3875387,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
4,04/03/2018,0:00,NaN,NaN,NaN,NaN,NaN,FLATBUSH AVENUE,GRAND ARMY PLAZA,NaN,...,Passing or Lane Usage Improper,NaN,NaN,NaN,3874140,PICK-UP TRUCK,PASSENGER VEHICLE,NaN,NaN,NaN

In [2]:
#Rename columns: lower case and replace spaces with underscore
df.columns = df.columns.str.lower().str.replace(' ', '_')
df = df.dropna(subset=['zip_code'])
df = df[df.zip_code != '     ']
df['hour'] = df.time.str[0:-3]
df['ym'] = df.date.str[0:3] + "01" + df.date.str[5:10]

In [45]:
data = df[["ym", "contributing_factor_vehicle_1", "contributing_factor_vehicle_2", "contributing_factor_vehicle_3", "contributing_factor_vehicle_4", "contributing_factor_vehicle_5"]]

In [51]:
data = data.set_index("ym")

In [53]:
test = data.stack()

In [63]:
data.unstack()

                               ym
contributing_factor_vehicle_1  04/01/2018                       Unspecified
                               04/01/2018    Driver Inattention/Distraction
                               04/01/2018                       Unspecified
                               04/01/2018    Passing or Lane Usage Improper
                               04/01/2018           View Obstructed/Limited
                               04/01/2018                       Unspecified
                               04/01/2018                       Unspecified
                               04/01/2018     Failure to Yield Right-of-Way
                               04/01/2018                       Unspecified
                               04/01/2018                       Unspecified
                               04/01/2018             Following Too Closely
                               04/01/2018                  Backing Unsafely
                               04/01/2018    Passing or Lane Usage Improper
                               04/01/2018                       Unspecified
                               04/01/2018     Failure to Yield Right-of-Way
                               04/01/2018                   Other Vehicular
                               04/01/2018                   Other Vehicular
                               04/01/2018                       Unspecified
                               04/01/2018                       Unspecified
                               04/01/2018                               NaN
                               04/01/2018                       Unspecified
                               04/01/2018    Passing or Lane Usage Improper
                               04/01/2018    Driver Inattention/Distraction
                               04/01/2018                       Unspecified
                               04/01/2018    Driver Inattention/Distraction
                               04/01/2018    Driver Inattention/Distraction
                               04/01/2018                       Unspecified
                               04/01/2018                Turning Improperly
                               04/01/2018           View Obstructed/Limited
                               04/01/2018     Failure to Yield Right-of-Way
                                                          ...
contributing_factor_vehicle_5  07/01/2012                               NaN
                               07/01/2012                               NaN
                               07/01/2012                               NaN
                               07/01/2012                               NaN
                               07/01/2012                               NaN
                               07/01/2012                               NaN
                               07/01/2012                               NaN
                               07/01/2012                               NaN
                               07/01/2012                               NaN
                               07/01/2012                               NaN
                               07/01/2012                               NaN
                               07/01/2012                               NaN
                               07/01/2012                               NaN
                               07/01/2012                               NaN
                               07/01/2012                               NaN
                               07/01/2012                               NaN
                               07/01/2012                               NaN
                               07/01/2012                               NaN
                               07/01/2012                               NaN
                               07/01/2012                               NaN
                               07/01/2012                               NaN
                               07/01/2012                               NaN
                               07/01/2012                               NaN
                               07/01/2012                               NaN
                               07/01/2012                               NaN
                               07/01/2012                               NaN
                               07/01/2012                               NaN
                               07/01/2012                               NaN
                               07/01/2012                               NaN
                               07/01/2012                               NaN
Length: 4422020, dtype: object

In [16]:
all_factors = list(df.contributing_factor_vehicle_1) + list(df.contributing_factor_vehicle_2) + list(df.contributing_factor_vehicle_3) + list(df.contributing_factor_vehicle_4) + list(df.contributing_factor_vehicle_5)
len(all_factors)

4422020

In [36]:
categories = dict()
categories["distraction"] = ["Other Electronic Devicev", "Passenger Distraction", "Driver Inattention/Distraction", "Outside Car Distraction"]
categories["bad_driving"] = ["Failure to Keep Right", "Aggressive Driving/Road Rage", "Unsafe Speed", "Unsafe Lane Changing", "Failure to Yield Right-of-Way", "Backing Unsafely", "Turning Improperly", "Following Too Closely", "Driver Inexperience", "Traffic Control Disregarded", "Passing or Lane Usage Improper"]
categories["ailments"] = ["Fell Asleep", "Illness", "Physical Disability", "Prescription Medication", "Fatigued/Drowsy", "Lost Consciousness", ]
categories["outside_influence"] = ["Lane Marking Improper/Inadequate", "Pavement Defective", "Traffic Control Device Improper/Non-Working", "View Obstructed/Limited", "Glare", "Obstruction/Debris", "Animals Action",  "Pedestrian/Bicyclist/Other Pedestrian Error/Confusion", "Reaction to Other Uninvolved Vehicle",]
categories["car_defects"] = ["Accelerator Defective", "Tire Failure/Inadequate", "Steering Failure", "Brakes Defective", "Oversized Vehicle", "Other Vehicular"]
categories["under_influence"] = ["Drugs (Illegal)", "Alcohol Involvement"]

In [32]:
from collections import Counter
counts = Counter(all_factors)
common = counts.most_common()

AttributeError: 'dict' object has no attribute 'key'

In [42]:
newCommon = dict()
for key in categories:
    newCommon[key] = 0

for c in common:
    index = c[0]
    count = c[1]
    for key in categories:
        if index in categories[key]:
            newCommon[key] += count

In [43]:
newCommon

{'ailments': 85409,
 'bad_driving': 192014,
 'car_defects': 56605,
 'distraction': 176373,
 'outside_influence': 18424,
 'under_influence': 9092}

In [17]:
unique_factors = set(all_factors)

In [52]:
data = df[["ym", "hour"]]

In [53]:
data["count"] = 1

/Users/thomasnilsson/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [55]:
g1 = data.groupby(["hour", "ym"]).count()

In [57]:
g1.head()

                 count
hour ym
0    01/01/2013    249
     01/01/2014    237
     01/01/2015    243
     01/01/2016    292
     01/01/2017    343

In [58]:
g1.to_csv("hist_incident_count.csv")

In [30]:
data.to_csv("individual_incidents.csv", index=False)

In [16]:
data.head()

         date hour zip_code
0  04/03/2018    0    10018
1  04/03/2018    0    10027
2  04/03/2018    0    10312
6  04/03/2018    0    11370
7  04/03/2018    0    11212

In [26]:
len(data)

884404